<p id="notice"><%= notice %></p>
<%= content_for(:title, @post.title) %>
<div class="page-header">
<h1 align='center'>
  <%= @post.title %>
</h1>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 align='center'>
  <%= @post.body %>
</h3>
</div>
</div>

<% if user_signed_in? %>
<div class="btn-group pull-right">
   	<div class="btn-group">
   		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
   		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
   	</div>
  </div>
<% end %>
<%= social_share_button_tag(@post.title) %>

<script src="https://apis.google.com/js/plusone.js"></script>
<div id="comments"></div>
<script>
gapi.comments.render('comments', {
    href: window.location,
    width: '624',
    first_party_property: 'BLOGGER',
    view_type: 'FILTERED_POSTMOD'
});
</script>
